<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46701313817-246j3lqgkbqg30aa86uivjbp98ckuu3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46701313817-246j3lqgkbqg30aa86uivjbp98ckuu3o</string>
	<key>API_KEY</key>
	<string>AIzaSyCoxqnTyIbyF50oOGOgLAZrLaPr-op-1co</string>
	<key>GCM_SENDER_ID</key>
	<string>46701313817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.iosPractice.Firebase101</string>
	<key>PROJECT_ID</key>
	<string>fir-101-8fd6a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-101-8fd6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46701313817:ios:8a901ecafeab3f87a50f88</string>
</dict>
</plist>