<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083412065902-ii0v350a60oa0nv20qtj4uiaitmb5d3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083412065902-ii0v350a60oa0nv20qtj4uiaitmb5d3c</string>
	<key>API_KEY</key>
	<string>AIzaSyB6CQijopVfOZVux0Qvkp8jHiYsUJiN_Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>1083412065902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.iosPractice.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-ac705</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-ac705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083412065902:ios:ce5ad768991d1a7006007f</string>
</dict>
</plist>